In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname = "C:/Windows/Fonts/malgun.ttf").get_name()
plt.rc("font", family= font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

## 1. 가장 많이 이용하는 ott 서비스 1순위 

### 성별/나이별/소득별/지역

소득별은 왜? - 구독료가 있으니까 소득별로 구독하는 ott가 다를까 ?

### 1)  데이터 전처리

In [65]:
# 엑셀 파일 불러오기

ott_s = pd.read_excel("../project_data_raw/가장_많이_이용하는_OTT_서비스_1순위.xlsx",  header=[0,1], index_col=[0,1])
ott_s

구분별(2)               2020                                               \
구분별(2)            사례수 (명) 티빙(Tving) (%) 웨이브(Wavve)(구 푹(pooq), 옥수수) (%)
전체    소계             7434           4.4                            4.0
성별    남              3872           3.9                            3.9
      여              3562           4.9                            4.0
연령    만10대미만          173           1.2                            0.0
      만10-19세         825           3.8                            1.0
      만20-29세        1378           6.3                            3.8
      만30-39세        1420           4.3                            8.1
      만40-49세        1481           5.2                            4.3
      만50-59세        1373           3.8                            2.0
      만60-69세         666           2.2                            3.8
      만70세이상          119           1.1                            4.1
월평균소득 소득없음           2477           4.7                            2.3
      50만원미만          138           9.6                            2.6
      50-100만원미만      222           2.2                            4.3
      100-200만원미만    1120           4.9                            4.7
      200-300만원미만    1961           4.2                            5.0
      300-400만원미만    1026           3.6                            5.6
      400-500만원미만     266           4.8                            1.1
      500만원이상         224           1.6                            7.1
지역    서울             1482           4.4                            6.2
      부산              524           0.2                            0.7
      대구              335           3.9                            3.1
      인천              452           1.9                            3.5
      광주              248           5.6                            0.3
      대전              213           1.3                            4.0
      울산              176           0.2                            1.8
      경기             1907           9.5                            4.9
      강원              181           0.3                            1.6
      충북              264           2.2                            1.2
      충남              265           3.2                            7.1
      전북              262           2.2                            0.4
      전남              245           4.7                            0.7
      경북              291           0.8                           11.0
      경남              427           0.4                            1.5
      제주               83           0.3                            2.9
      세종               79           4.0                            0.0

구분별(2)                                                                    \
구분별(2)            KT 시즌(Seezn)(구 olleh tv 모바일) (%) U+ 모바일(구 U+비디오포털) (%)
전체    소계                                       1.0                   1.3
성별    남                                        1.1                   1.3
      여                                        0.8                   1.3
연령    만10대미만                                   2.7                   0.0
      만10-19세                                  0.5                   0.5
      만20-29세                                  0.7                   0.9
      만30-39세                                  0.6                   1.5
      만40-49세                                  1.2                   2.5
      만50-59세                                  0.9                   0.8
      만60-69세                                  1.9                   1.1
      만70세이상                                   2.5                   1.8
월평균소득 소득없음                                     0.8                   0.9
      50만원미만                                   1.9                   2.3
      50-100만원미만                               3.0                   3.6
      100-200만원미만                              0.9                   0.8
      200-300만원미만                              0.6                   0.9
      300-400만원미만                              1.5                   2.5
      400-500만원미만                              1.3                   2.1
      500만원이상                                  1.7                   1.5
지역    서울                                       1.2                   2.9
      부산                                       0.0                   0.7
      대구                                       1.5                   1.2
      인천                                       0.4                   0.3
      광주                                       0.0                   0.0
      대전                                       0.2                   0.0
      울산                                       2.0                   1.0
      경기                                       1.4                   1.5
      강원                                       2.6                   1.5
      충북                                       0.0                   0.1
      충남                                       0.3                   0.8
      전북                                       0.0                   0.3
      전남                                       0.0                   0.0
      경북                                       1.2                   1.1
      경남                                       0.9                   0.5
      제주                                       6.0                   1.4
      세종                                       0.0                   0.0

구분별(2)                                                                  \
구분별(2)            에브리온 TV (%) 네이버시리즈(구 네이버 N 스토어) (%) 곰TV (%) 넷플릭스 (%)
전체    소계                  0.0                     0.7     0.2      7.1
성별    남                   0.0                     0.7     0.2      6.5
      여                   0.1                     0.6     0.1      7.8
연령    만10대미만              0.0                     0.0     0.0      0.9
      만10-19세             0.0                     0.4     0.1      4.6
      만20-29세             0.0                     0.6     0.1     13.1
      만30-39세             0.0                     0.7     0.3      9.5
      만40-49세             0.2                     0.9     0.2      7.7
      만50-59세             0.0                     1.1     0.1      3.8
      만60-69세             0.0                     0.4     0.0      1.2
      만70세이상              0.0                     0.0     0.0      0.0
월평균소득 소득없음                0.1                     0.6     0.1      5.5
      50만원미만              0.0                     0.0     0.0      6.2
      50-100만원미만          0.0                     0.9     0.0      8.0
      100-200만원미만         0.1                     0.2     0.3      5.2
      200-300만원미만         0.0                     0.5     0.1      8.6
      300-400만원미만         0.1                     1.2     0.4      9.5
      400-500만원미만         0.0                     2.0     0.0     11.8
      500만원이상             0.0                     1.8     0.4      4.8
지역    서울                  0.1                     0.6     0.1     12.3
      부산                  0.0                     1.1     0.0      5.2
      대구                  0.0                     1.4     0.3      9.5
      인천                  0.0                     1.3     0.0      5.1
      광주                  0.0                     0.0     0.0      4.6
      대전                  0.0                     0.0     1.4      6.3
      울산                  0.0                     0.9     0.0      1.2
      경기                  0.1                     0.8     0.0      6.6
      강원                  0.0                     0.0     0.0      6.8
      충북                  0.0                     0.0     1.4      7.7
      충남                  0.0                     0.9     0.0      1.9
      전북                  0.0                     0.0     0.2      9.6
      전남                  0.0                     0.4     0.2      3.6
      경북                  0.0                     1.1     0.2      4.4
      경남                  0.0                     0.5     0.2      4.3
      제주                  0.0                     1.1     0.0      3.7
      세종                  0.0                     0.0     0.0      7.8

구분별(2)                        ...                    2021                   \
구분별(2)            카카오 TV (%)  ... 네이버시리즈(구 네이버 N 스토어) (%) 곰TV (%) 넷플릭스 (%)
전체    소계                 1.6  ...                     0.3     0.2      8.8
성별    남                  1.6  ...                     0.3     0.2      8.1
      여                  1.7  ...                     0.4     0.1      9.5
연령    만10대미만             0.0  ...                     0.0     0.0      6.2
      만10-19세            1.3  ...                     0.1     0.2      6.8
      만20-29세            1.9  ...                     0.5     0.2     17.1
      만30-39세            1.2  ...                     0.3     0.3     11.3
      만40-49세            1.0  ...                     0.5     0.1     11.1
      만50-59세            2.1  ...                     0.3     0.3      4.7
      만60-69세            2.7  ...                     0.3     0.1      1.3
      만70세이상             3.6  ...                     0.0     0.0      0.4
월평균소득 소득없음               1.0  ...                     0.4     0.1      8.4
      50만원미만             0.5  ...                     0.0     0.0      6.8
      50-100만원미만         1.2  ...                     0.0     0.0      5.8
      100-200만원미만        4.1  ...                     0.1     0.3      9.5
      200-300만원미만        1.3  ...                     0.2     0.1      8.9
      300-400만원미만        1.3  ...                     0.3     0.5      7.9
      400-500만원미만        1.1  ...                     1.0     0.0     15.4
      500만원이상            1.8  ...                     1.2     0.0      9.1
지역    서울                 2.2  ...                     0.4     0.2      8.8
      부산                 1.1  ...                     0.0     0.0      5.3
      대구                 1.8  ...                     1.4     0.7     16.2
      인천                 0.8  ...                     0.7     0.0      7.9
      광주                 1.5  ...                     0.0     0.0      5.3
      대전                 3.0  ...                     0.0     0.0      9.4
      울산                 0.4  ...                     0.0     0.0      8.5
      경기                 1.8  ...                     0.4     0.4     11.4
      강원                 0.0  ...                     0.0     0.0      9.1
      충북                 2.0  ...                     0.1     0.0      6.4
      충남                 1.7  ...                     0.0     0.0      7.6
      전북                 2.0  ...                     0.3     0.2      2.9
      전남                 0.8  ...                     0.1     0.0      0.5
      경북                 0.8  ...                     1.0     0.2      3.7
      경남                 1.8  ...                     0.0     0.0      9.1
      제주                 0.0  ...                     0.0     0.0      6.0
      세종                 0.8  ...                     0.0     0.0     23.9

구분별(2)                                                                    \
구분별(2)            카카오 TV (%) 유튜브 (%) 아마존 프라임 비디오 (%) 왓챠플레이 (%) 쿠팡플레이 (%)
전체    소계                 1.8    81.5             0.0       0.2       0.2
성별    남                  1.6    82.6             0.0       0.1       0.1
      여                  2.0    80.3             0.0       0.3       0.3
연령    만10대미만             0.0    90.2             0.0       0.0       0.0
      만10-19세            3.5    86.2             0.0       0.4       0.0
      만20-29세            1.4    70.3             0.0       0.6       0.1
      만30-39세            2.1    74.2             0.0       0.3       0.5
      만40-49세            2.0    77.4             0.0       0.1       0.4
      만50-59세            1.6    87.8             0.0       0.0       0.0
      만60-69세            0.3    94.2             0.0       0.0       0.0
      만70세이상             2.3    94.0             0.0       0.0       0.0
월평균소득 소득없음               2.1    83.3             0.0       0.4       0.1
      50만원미만             0.5    88.4             0.0       0.0       0.5
      50-100만원미만         0.3    87.5             0.0       0.5       1.0
      100-200만원미만        2.2    82.3             0.1       0.0       0.1
      200-300만원미만        1.4    80.6             0.0       0.2       0.3
      300-400만원미만        1.6    79.2             0.0       0.0       0.2
      400-500만원미만        3.3    71.7             0.0       0.2       0.0
      500만원이상            1.2    80.2             0.2       0.0       0.0
지역    서울                 2.1    75.6             0.0       0.4       0.4
      부산                 0.5    92.8             0.0       0.0       0.0
      대구                 6.2    66.3             0.0       0.2       0.0
      인천                 0.7    84.2             0.1       0.0       0.7
      광주                 1.1    91.9             0.0       0.2       0.0
      대전                 1.2    88.6             0.0       0.0       0.0
      울산                 0.0    88.0             0.0       0.0       0.0
      경기                 2.6    74.8             0.0       0.4       0.2
      강원                 0.6    83.2             0.3       0.0       0.0
      충북                 0.9    91.6             0.0       0.0       0.0
      충남                 1.1    90.4             0.0       0.0       0.0
      전북                 3.2    88.4             0.0       0.0       0.0
      전남                 0.9    94.9             0.1       0.0       0.0
      경북                 0.8    86.6             0.0       0.0       0.2
      경남                 0.1    88.4             0.0       0.0       0.0
      제주                 0.2    85.8             0.0       0.0       2.0
      세종                 0.0    76.1             0.0       0.0       0.0

구분별(2)
구분별(2)            아프리카 TV (%) 기타 (%)
전체    소계                  0.3    0.0
성별    남                   0.5    0.1
      여                   0.1    0.0
연령    만10대미만              0.0    0.4
      만10-19세             0.1    0.1
      만20-29세             1.5    0.1
      만30-39세             0.0    0.0
      만40-49세             0.1    0.0
      만50-59세             0.1    0.0
      만60-69세             0.0    0.0
      만70세이상              0.0    0.0
월평균소득 소득없음                0.4    0.1
      50만원미만              0.0    0.0
      50-100만원미만          0.0    0.0
      100-200만원미만         0.0    0.1
      200-300만원미만         0.6    0.0
      300-400만원미만         0.2    0.0
      400-500만원미만         0.0    0.0
      500만원이상             0.1    0.0
지역    서울                  0.0    0.0
      부산                  0.2    0.0
      대구                  0.4    0.2
      인천                  0.3    0.2
      광주                  0.0    0.0
      대전                  0.0    0.0
      울산                  0.0    0.0
      경기                  0.6    0.0
      강원                  0.3    0.0
      충북                  0.0    0.0
      충남                  0.0    0.0
      전북                  0.0    0.0
      전남                  2.6    0.0
      경북                  0.0    0.0
      경남                  0.2    0.0
      제주                  0.0    1.2
      세종                  0.0    0.0

[36 rows x 29 columns]

In [66]:
# 컬럼 명 변경

ott_s.columns =[["2020","2020","2020","2020","2020","2020","2020","2020","2020","2020","2020","2020","2020","2020",
               "2021","2021","2021","2021","2021","2021","2021","2021","2021","2021","2021","2021","2021","2021","2021"],
              ["명 수","티빙", "웨이브", "KT_Seezn", "U+모바일", "에브리온TV", "네이버시리즈", "곰TV", "넷플릭스","카카오TV", "유튜브", "아마존프라임", "왓챠플레이","기타",
              "명 수","티빙", "웨이브", "KT_Seezn", "U+모바일", "네이버시리즈", "곰TV", "넷플릭스","카카오TV", "유튜브", "아마존프라임", "왓챠플레이","쿠팡플레이","아프리카TV","기타"]]

In [17]:
ott_s
ott_s.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 36 entries, ('전체', '소계') to ('지역', '세종')
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   (2020, 명 수)       36 non-null     int64
 1   (2020, 티빙)        36 non-null     float64
 2   (2020, 웨이브)       36 non-null     float64
 3   (2020, KT_Seezn)  36 non-null     float64
 4   (2020, U+모바일)     36 non-null     float64
 5   (2020, 에브리온TV)    36 non-null     float64
 6   (2020, 네이버시리즈)    36 non-null     float64
 7   (2020, 곰TV)       36 non-null     float64
 8   (2020, 넷플릭스)      36 non-null     float64
 9   (2020, 카카오TV)     36 non-null     float64
 10  (2020, 유튜브)       36 non-null     float64
 11  (2020, 아마존프라임)    36 non-null     float64
 12  (2020, 왓챠플레이)     36 non-null     float64
 13  (2020, 기타)        36 non-null     float64
 14  (2021, 명 수)       36 non-null     float64
 15  (2021, 티빙)        36 non-null     float64
 16  (2021, 웨이브)       36 non-null     float64
 17  (2021, KT_Seezn)  36 non-null     float64
 18  (2021, U+모바일)     36 non-null     float64
 19  (2021, 네이버시리즈)    36 non-null     float64
 20  (2021, 곰TV)       36 non-null     float64
 21  (2021, 넷플릭스)      36 non-null     float64
 22  (2021, 카카오TV)     36 non-null     float64
 23  (2021, 유튜브)       36 non-null     float64
 24  (2021, 아마존프라임)    36 non-null     float64
 25  (2021, 왓챠플레이)     36 non-null     float64
 26  (2021, 쿠팡플레이)     36 non-null     float64
 27  (2021, 아프리카TV)    36 non-null     float64
 28  (2021, 기타)        36 non-null     float64
dtypes: float64(28), int64(1)
memory usage: 9.8+ KB

In [34]:
#  인원수로 변환 - "명 수" 를 제외한 모든 컬럼은 % 이므로 인원수로 변환 시켜 준다.

ott_2020=ott_s["2020"]

ott_2020["티빙"]=ott_2020["티빙"]/100 *ott_2020["명 수"]
ott_2020["웨이브"]=ott_2020["웨이브"]/100 *ott_2020["명 수"]
ott_2020["KT_Seezn"]=ott_2020["KT_Seezn"]/100 *ott_2020["명 수"]
ott_2020["U+모바일"]=ott_2020["U+모바일"]/100 *ott_2020["명 수"]
ott_2020["에브리온TV"]=ott_2020["에브리온TV"]/100 *ott_2020["명 수"]
ott_2020["네이버시리즈"]=ott_2020["네이버시리즈"]/100 *ott_2020["명 수"]
ott_2020["곰TV"]=ott_2020["곰TV"]/100 *ott_2020["명 수"]
ott_2020["넷플릭스"]=ott_2020["넷플릭스"]/100 *ott_2020["명 수"]
ott_2020["카카오TV"]=ott_2020["카카오TV"]/100 *ott_2020["명 수"]
ott_2020["유튜브"]=ott_2020["유튜브"]/100 *ott_2020["명 수"]
ott_2020["아마존프라임"]=ott_2020["아마존프라임"]/100 *ott_2020["명 수"]
ott_2020["왓챠플레이"]=ott_2020["왓챠플레이"]/100 *ott_2020["명 수"]
ott_2020["기타"]=ott_2020["기타"]/100 *ott_2020["명 수"]

ott_2020

C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["티빙"]=ott_2020["티빙"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["웨이브"]=ott_2020["웨이브"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["KT_Seezn"]=ott_2020["KT_Seezn"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["U+모바일"]=ott_2020["U+모바일"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["에브리온TV"]=ott_2020["에브리온TV"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["네이버시리즈"]=ott_2020["네이버시리즈"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["곰TV"]=ott_2020["곰TV"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["넷플릭스"]=ott_2020["넷플릭스"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["카카오TV"]=ott_2020["카카오TV"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["유튜브"]=ott_2020["유튜브"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["아마존프라임"]=ott_2020["아마존프라임"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["왓챠플레이"]=ott_2020["왓챠플레이"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\1338742269.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["기타"]=ott_2020["기타"]/100 *ott_2020["명 수"]

                    명 수       티빙      웨이브  KT_Seezn   U+모바일  에브리온TV  네이버시리즈  \
전체    소계           7434  327.096  297.360    74.340  96.642   0.000  52.038
성별    남            3872  151.008  151.008    42.592  50.336   0.000  27.104
      여            3562  174.538  142.480    28.496  46.306   3.562  21.372
연령    만10대미만        173    2.076    0.000     4.671   0.000   0.000   0.000
      만10-19세       825   31.350    8.250     4.125   4.125   0.000   3.300
      만20-29세      1378   86.814   52.364     9.646  12.402   0.000   8.268
      만30-39세      1420   61.060  115.020     8.520  21.300   0.000   9.940
      만40-49세      1481   77.012   63.683    17.772  37.025   2.962  13.329
      만50-59세      1373   52.174   27.460    12.357  10.984   0.000  15.103
      만60-69세       666   14.652   25.308    12.654   7.326   0.000   2.664
      만70세이상        119    1.309    4.879     2.975   2.142   0.000   0.000
월평균소득 소득없음         2477  116.419   56.971    19.816  22.293   2.477  14.862
      50만원미만        138   13.248    3.588     2.622   3.174   0.000   0.000
      50-100만원미만    222    4.884    9.546     6.660   7.992   0.000   1.998
      100-200만원미만  1120   54.880   52.640    10.080   8.960   1.120   2.240
      200-300만원미만  1961   82.362   98.050    11.766  17.649   0.000   9.805
      300-400만원미만  1026   36.936   57.456    15.390  25.650   1.026  12.312
      400-500만원미만   266   12.768    2.926     3.458   5.586   0.000   5.320
      500만원이상       224    3.584   15.904     3.808   3.360   0.000   4.032
지역    서울           1482   65.208   91.884    17.784  42.978   1.482   8.892
      부산            524    1.048    3.668     0.000   3.668   0.000   5.764
      대구            335   13.065   10.385     5.025   4.020   0.000   4.690
      인천            452    8.588   15.820     1.808   1.356   0.000   5.876
      광주            248   13.888    0.744     0.000   0.000   0.000   0.000
      대전            213    2.769    8.520     0.426   0.000   0.000   0.000
      울산            176    0.352    3.168     3.520   1.760   0.000   1.584
      경기           1907  181.165   93.443    26.698  28.605   1.907  15.256
      강원            181    0.543    2.896     4.706   2.715   0.000   0.000
      충북            264    5.808    3.168     0.000   0.264   0.000   0.000
      충남            265    8.480   18.815     0.795   2.120   0.000   2.385
      전북            262    5.764    1.048     0.000   0.786   0.000   0.000
      전남            245   11.515    1.715     0.000   0.000   0.000   0.980
      경북            291    2.328   32.010     3.492   3.201   0.000   3.201
      경남            427    1.708    6.405     3.843   2.135   0.000   2.135
      제주             83    0.249    2.407     4.980   1.162   0.000   0.913
      세종             79    3.160    0.000     0.000   0.000   0.000   0.000

                      곰TV     넷플릭스    카카오TV       유튜브  아마존프라임  왓챠플레이     기타
전체    소계           14.868  527.814  118.944  5880.294  37.170  7.434  0.000
성별    남             7.744  251.680   61.952  3105.344  19.360  0.000  0.000
      여             3.562  277.836   60.554  2774.798  21.372  7.124  0.000
연령    만10대미만        0.000    1.557    0.000   164.696   0.000  0.000  0.000
      만10-19세       0.825   37.950   10.725   721.875   2.475  0.825  0.000
      만20-29세       1.378  180.518   26.182   989.404   5.512  2.756  0.000
      만30-39세       4.260  134.900   17.040  1036.600   8.520  2.840  0.000
      만40-49세       2.962  114.037   14.810  1130.003   7.405  1.481  0.000
      만50-59세       1.373   52.174   28.833  1168.423   4.119  0.000  0.000
      만60-69세       0.000    7.992   17.982   568.764   9.324  0.000  0.000
      만70세이상        0.000    0.000    4.284   102.459   0.952  0.000  0.000
월평균소득 소득없음          2.477  136.235   24.770  2063.341  14.862  0.000  0.000
      50만원미만        0.000    8.556    0.690   101.430   3.174  1.380  0.000
      50-100만원미만    0.000   17.760    2.664   169.164   0.888  0.444  0.000
      100-200만원미만   3.360   58.240   45.920   878.080   2.240  2.240  0.000
      200-300만원미만   1.961  168.646   25.493  1531.541  11.766  1.961  0.000
      300-400만원미만   4.104   97.470   13.338   757.188   5.130  0.000  0.000
      400-500만원미만   0.000   31.388    2.926   201.628   0.000  0.000  0.000
      500만원이상       0.896   10.752    4.032   176.736   0.672  0.000  0.000
지역    서울            1.482  182.286   32.604  1031.472   1.482  2.964  0.000
      부산            0.000   27.248    5.764   473.696   3.144  0.524  0.000
      대구            1.005   31.825    6.030   256.275   0.335  2.010  0.000
      인천            0.000   23.052    3.616   390.980   0.452  0.452  0.452
      광주            0.000   11.408    3.720   214.272   3.968  0.000  0.000
      대전            2.982   13.419    6.390   176.577   1.704  0.000  0.000
      울산            0.000    2.112    0.704   162.272   0.704  0.000  0.000
      경기            0.000  125.862   34.326  1394.017   3.814  0.000  0.000
      강원            0.000   12.308    0.000   157.289   0.724  0.000  0.000
      충북            3.696   20.328    5.280   223.344   2.376  0.000  0.000
      충남            0.000    5.035    4.505   223.130   0.000  0.000  0.000
      전북            0.524   25.152    5.240   223.224   0.000  0.262  0.000
      전남            0.490    8.820    1.960   204.085  15.190  0.000  0.000
      경북            0.582   12.804    2.328   229.890   1.164  0.000  0.000
      경남            0.854   18.361    7.686   380.457   3.416  0.427  0.000
      제주            0.000    3.071    0.000    70.218   0.000  0.000  0.000
      세종            0.000    6.162    0.632    68.967   0.000  0.000  0.000

In [38]:
ott_2021=ott_s["2021"]

ott_2021["티빙"]=ott_2021["티빙"]/100 *ott_2021["명 수"]
ott_2021["웨이브"]=ott_2021["웨이브"]/100 *ott_2021["명 수"]
ott_2021["KT_Seezn"]=ott_2021["KT_Seezn"]/100 *ott_2021["명 수"]
ott_2021["U+모바일"]=ott_2021["U+모바일"]/100 *ott_2021["명 수"]
ott_2021["네이버시리즈"]=ott_2021["네이버시리즈"]/100 *ott_2021["명 수"]
ott_2021["곰TV"]=ott_2021["곰TV"]/100 *ott_2021["명 수"]
ott_2021["넷플릭스"]=ott_2021["넷플릭스"]/100 *ott_2021["명 수"]
ott_2021["카카오TV"]=ott_2021["카카오TV"]/100 *ott_2021["명 수"]
ott_2021["유튜브"]=ott_2021["유튜브"]/100 *ott_2021["명 수"]
ott_2021["아마존프라임"]=ott_2021["아마존프라임"]/100 *ott_2021["명 수"]
ott_2021["왓챠플레이"]=ott_2021["왓챠플레이"]/100 *ott_2021["명 수"]
ott_2021["쿠팡플레이"]=ott_2021["쿠팡플레이"]/100 *ott_2021["명 수"]
ott_2021["아프리카TV"]=ott_2021["아프리카TV"]/100 *ott_2021["명 수"]
ott_2021["기타"]=ott_2021["기타"]/100 *ott_2021["명 수"]

ott_2021

C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["티빙"]=ott_2021["티빙"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["웨이브"]=ott_2021["웨이브"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["KT_Seezn"]=ott_2021["KT_Seezn"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["U+모바일"]=ott_2021["U+모바일"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["네이버시리즈"]=ott_2021["네이버시리즈"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["곰TV"]=ott_2021["곰TV"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["넷플릭스"]=ott_2021["넷플릭스"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["카카오TV"]=ott_2021["카카오TV"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["유튜브"]=ott_2021["유튜브"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["아마존프라임"]=ott_2021["아마존프라임"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["왓챠플레이"]=ott_2021["왓챠플레이"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["쿠팡플레이"]=ott_2021["쿠팡플레이"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["아프리카TV"]=ott_2021["아프리카TV"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\83504557.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["기타"]=ott_2021["기타"]/100 *ott_2021["명 수"]

                      명 수        티빙       웨이브  KT_Seezn    U+모바일   네이버시리즈  \
전체    소계           8293.7  240.5173  190.7551   41.4685  74.6433  24.8811
성별    남            4283.5   89.9535  111.3710   29.9845  38.5515  12.8505
      여            4010.2  152.3876   80.2040   16.0408  36.0918  16.0408
연령    만10대미만        174.5    2.6175    1.0470    2.0940   0.0000   0.0000
      만10-19세       880.1   10.5612    7.0408    1.7602   2.6403   0.8801
      만20-29세      1381.4   73.2142   20.7210    9.6698   6.9070   6.9070
      만30-39세      1390.1   61.1644   75.0654    5.5604  11.1208   4.1703
      만40-49세      1585.9   45.9911   53.9206    4.7577  25.3744   7.9295
      만50-59세      1580.6   33.1926   23.7090    7.9030  15.8060   4.7418
      만60-69세      1025.7   11.2827    8.2056    6.1542  12.3084   3.0771
      만70세이상        275.5    1.6530    3.0305    3.8570   0.8265   0.0000
월평균소득 소득없음         2631.2   57.8864   36.8368   10.5248  18.4184  10.5248
      50만원미만        175.9    6.1565    0.0000    0.0000   0.5277   0.0000
      50-100만원미만    317.8    2.8602    2.8602    8.5806   0.9534   0.0000
      100-200만원미만  1094.2   14.2246   28.4492    4.3768  12.0362   1.0942
      200-300만원미만  2118.0   86.8380   48.7140    8.4720  19.0620   4.2360
      300-400만원미만  1326.0   60.9960   47.7360    9.2820  15.9120   3.9780
      400-500만원미만   358.2    5.7312   18.6264    2.8656   2.5074   3.5820
      500만원이상       272.5    5.7225   10.9000    0.5450   4.6325   3.2700
지역    서울           1626.1   89.4355   66.6701    4.8783  37.4003   6.5044
      부산            555.7    3.3342    2.2228    0.0000   1.1114   0.0000
      대구            358.0    6.8020   19.3320    2.5060   1.4320   5.0120
      인천            499.5    9.4905   14.4855    0.9990   1.4985   3.4965
      광주            263.0    2.8930    0.7890    0.0000   0.0000   0.0000
      대전            219.8    0.0000    0.2198    1.5386   0.0000   0.0000
      울산            187.4    2.9984    0.5622    2.2488   0.7496   0.0000
      경기           2226.8   93.5256   66.8040   17.8144  24.4948   8.9072
      강원            207.4    1.2444    5.5998    6.2220   0.4148   0.0000
      충북            279.8    1.1192    1.9586    0.0000   0.0000   0.2798
      충남            305.8    0.0000    0.6116    0.0000   2.1406   0.0000
      전북            292.8    9.9552    4.6848    0.0000   0.2928   0.8784
      전남            279.7    1.3985    0.2797    0.0000   1.1188   0.2797
      경북            318.2   12.7280    5.0912    2.5456   3.5002   3.1820
      경남            501.1    4.5099    1.5033    4.0088   1.0022   0.0000
      제주             84.5    0.8450    3.2955    0.0000   0.0000   0.0000
      세종             88.1    0.0000    0.0000    0.0000   0.0000   0.0000

                       곰TV      넷플릭스     카카오TV        유튜브  아마존프라임    왓챠플레이  \
전체    소계           16.5874  729.8456  149.2866  6759.3655  0.0000  16.5874
성별    남             8.5670  346.9635   68.5360  3538.1710  0.0000   4.2835
      여             4.0102  380.9690   80.2040  3220.1906  0.0000  12.0306
연령    만10대미만        0.0000   10.8190    0.0000   157.3990  0.0000   0.0000
      만10-19세       1.7602   59.8468   30.8035   758.6462  0.0000   3.5204
      만20-29세       2.7628  236.2194   19.3396   971.1242  0.0000   8.2884
      만30-39세       4.1703  157.0813   29.1921  1031.4542  0.0000   4.1703
      만40-49세       1.5859  176.0349   31.7180  1227.4866  0.0000   1.5859
      만50-59세       4.7418   74.2882   25.2896  1387.7668  0.0000   0.0000
      만60-69세       1.0257   13.3341    3.0771   966.2094  0.0000   0.0000
      만70세이상        0.0000    1.1020    6.3365   258.9700  0.0000   0.0000
월평균소득 소득없음          2.6312  221.0208   55.2552  2191.7896  0.0000  10.5248
      50만원미만        0.0000   11.9612    0.8795   155.4956  0.0000   0.0000
      50-100만원미만    0.0000   18.4324    0.9534   278.0750  0.0000   1.5890
      100-200만원미만   3.2826  103.9490   24.0724   900.5266  1.0942   0.0000
      200-300만원미만   2.1180  188.5020   29.6520  1707.1080  0.0000   4.2360
      300-400만원미만   6.6300  104.7540   21.2160  1050.1920  0.0000   0.0000
      400-500만원미만   0.0000   55.1628   11.8206   256.8294  0.0000   0.7164
      500만원이상       0.0000   24.7975    3.2700   218.5450  0.5450   0.0000
지역    서울            3.2522  143.0968   34.1481  1229.3316  0.0000   6.5044
      부산            0.0000   29.4521    2.7785   515.6896  0.0000   0.0000
      대구            2.5060   57.9960   22.1960   237.3540  0.0000   0.7160
      인천            0.0000   39.4605    3.4965   420.5790  0.4995   0.0000
      광주            0.0000   13.9390    2.8930   241.6970  0.0000   0.5260
      대전            0.0000   20.6612    2.6376   194.7428  0.0000   0.0000
      울산            0.0000   15.9290    0.0000   164.9120  0.0000   0.0000
      경기            8.9072  253.8552   57.8968  1665.6464  0.0000   8.9072
      강원            0.0000   18.8734    1.2444   172.5568  0.6222   0.0000
      충북            0.0000   17.9072    2.5182   256.2968  0.0000   0.0000
      충남            0.0000   23.2408    3.3638   276.4432  0.0000   0.0000
      전북            0.5856    8.4912    9.3696   258.8352  0.0000   0.0000
      전남            0.0000    1.3985    2.5173   265.4353  0.2797   0.0000
      경북            0.6364   11.7734    2.5456   275.5612  0.0000   0.0000
      경남            0.0000   45.6001    0.5011   442.9724  0.0000   0.0000
      제주            0.0000    5.0700    0.1690    72.5010  0.0000   0.0000
      세종            0.0000   21.0559    0.0000    67.0441  0.0000   0.0000

                     쿠팡플레이   아프리카TV      기타
전체    소계           16.5874  24.8811  0.0000
성별    남             4.2835  21.4175  4.2835
      여            12.0306   4.0102  0.0000
연령    만10대미만        0.0000   0.0000  0.6980
      만10-19세       0.0000   0.8801  0.8801
      만20-29세       1.3814  20.7210  1.3814
      만30-39세       6.9505   0.0000  0.0000
      만40-49세       6.3436   1.5859  0.0000
      만50-59세       0.0000   1.5806  0.0000
      만60-69세       0.0000   0.0000  0.0000
      만70세이상        0.0000   0.0000  0.0000
월평균소득 소득없음          2.6312  10.5248  2.6312
      50만원미만        0.8795   0.0000  0.0000
      50-100만원미만    3.1780   0.0000  0.0000
      100-200만원미만   1.0942   0.0000  1.0942
      200-300만원미만   6.3540  12.7080  0.0000
      300-400만원미만   2.6520   2.6520  0.0000
      400-500만원미만   0.0000   0.0000  0.0000
      500만원이상       0.0000   0.2725  0.0000
지역    서울            6.5044   0.0000  0.0000
      부산            0.0000   1.1114  0.0000
      대구            0.0000   1.4320  0.7160
      인천            3.4965   1.4985  0.9990
      광주            0.0000   0.0000  0.0000
      대전            0.0000   0.0000  0.0000
      울산            0.0000   0.0000  0.0000
      경기            4.4536  13.3608  0.0000
      강원            0.0000   0.6222  0.0000
      충북            0.0000   0.0000  0.0000
      충남            0.0000   0.0000  0.0000
      전북            0.0000   0.0000  0.0000
      전남            0.0000   7.2722  0.0000
      경북            0.6364   0.0000  0.0000
      경남            0.0000   1.0022  0.0000
      제주            1.6900   0.0000  1.0140
      세종            0.0000   0.0000  0.0000

In [ ]:
# 함수화

In [44]:
# 어떤 컬럼을 지울건지??

# outer join으로 2021, 2020 합치기
#ott_service_20_21=pd.merge(ott_2020,ott_2021, how = 'outer') 

# 중간 저장
#ott_service_20_21.to_csv("../project_data_raw/test_test.csv", index = False)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:1215: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  warnings.warn(

## 2. 가장 많이 이용하는 ott 서비스 이용 매체 1순위 

### 성별/나이별/지역/가구원수1

### 1)  데이터 전처리

In [46]:
# 엑셀 파일 불러오기

ott_m = pd.read_excel("../project_data_raw/가장_많이_이용하는_OTT_서비스의_주_이용_매체_1순위.xlsx",  header=[0,1], index_col=[0,1])
ott_m

C:\Users\user\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

구분별(2)           2020                                                         \
구분별(2)        사례수 (명) 스마트폰 (%) 태블릿PC (%) 데스크톱 컴퓨터 (%) 노트북 컴퓨터 (%) TV 수상기 (%)
전체    소계       7434.0     96.4       0.9          1.0         0.8        0.9
성별    남        3872.0     96.0       0.9          1.3         0.9        0.9
      여        3562.0     96.9       0.9          0.6         0.7        1.0
연령    만10대미만    173.0     85.7       9.0          0.0         2.6        2.6
      만10-19세   825.0     93.3       1.4          2.0         1.5        1.7
      만20-29세  1378.0     94.9       1.9          1.2         1.9        0.1
      만30-39세  1420.0     98.8       0.1          1.0         0.0        0.2
      만40-49세  1481.0     97.6       0.3          0.5         0.4        1.3
      만50-59세  1373.0     97.1       0.2          1.0         0.4        1.4
      만60-69세   666.0     97.3       0.7          0.3         0.5        1.1
      만70세이상    119.0     98.2       0.0          1.1         0.0        0.7
지역    서울       1482.0     96.4       0.9          0.7         0.9        1.1
      부산        524.0     99.3       0.0          0.0         0.3        0.4
      대구        335.0     89.3       4.0          2.7         2.4        1.5
      인천        452.0     96.2       1.6          0.7         0.7        0.8
      광주        248.0     97.9       0.6          0.9         0.5        0.1
      대전        213.0     99.5       0.5          0.0         0.0        0.0
      울산        176.0     97.5       0.0          2.0         0.1        0.4
      경기       1907.0     95.6       0.8          1.5         0.7        1.4
      강원        181.0     87.9       4.7          0.3         3.8        3.3
      충북        264.0     98.4       0.0          1.2         0.4        0.0
      충남        265.0     97.9       0.0          1.5         0.0        0.5
      전북        262.0     99.2       0.0          0.3         0.0        0.5
      전남        245.0    100.0       0.0          0.0         0.0        0.0
      경북        291.0     93.0       1.6          1.8         2.7        1.0
      경남        427.0     99.8       0.0          0.0         0.0        0.2
      제주         83.0     95.6       0.3          1.7         1.2        1.3
      세종         79.0    100.0       0.0          0.0         0.0        0.0
가구원수1 1인가구      822.0     98.6       0.0          0.6         0.8        0.0
      2인가구     1586.0     97.9       0.6          0.3         0.8        0.4
      3인이상가구   5027.0     95.6       1.1          1.2         0.8        1.2

구분별(2)           2021
구분별(2)        사례수 (명) 스마트폰 (%) 태블릿PC (%) 데스크톱 컴퓨터 (%) 노트북 컴퓨터 (%) TV 수상기 (%)
전체    소계       8293.7     92.8       2.6          0.8         1.2        2.5
성별    남        4283.5     93.8       2.3          1.1         1.0        1.8
      여        4010.2     91.8       3.0          0.5         1.4        3.3
연령    만10대미만    174.5     61.5      28.8          0.5         0.9        8.4
      만10-19세   880.1     87.1       5.2          2.7         3.5        1.5
      만20-29세  1381.4     90.0       4.6          1.1         3.0        1.4
      만30-39세  1390.1     95.4       2.5          0.1         0.4        1.6
      만40-49세  1585.9     93.3       0.9          0.9         0.5        4.5
      만50-59세  1580.6     95.4       0.4          0.8         0.6        2.9
      만60-69세  1025.7     97.6       0.3          0.2         0.4        1.5
      만70세이상    275.5     97.3       0.1          0.3         0.0        2.2
지역    서울       1626.1     93.3       2.4          0.4         0.9        3.0
      부산        555.7     99.2       0.0          0.3         0.0        0.4
      대구        358.0     84.2       7.6          1.4         2.9        3.9
      인천        499.5     91.3       2.9          1.5         2.5        1.8
      광주        263.0     95.1       1.6          0.0         0.0        3.2
      대전        219.8     92.5       0.4          0.2         4.1        2.8
      울산        187.4     98.6       0.3          0.1         0.0        1.1
      경기       2226.8     91.4       3.5          1.4         1.0        2.7
      강원        207.4     91.3       1.9          0.7         0.3        5.8
      충북        279.8     86.8       7.4          0.0         5.8        0.0
      충남        305.8     98.4       0.3          0.0         0.3        0.9
      전북        292.8     94.5       0.0          0.0         0.8        4.7
      전남        279.7     91.9       4.6          0.6         0.0        2.9
      경북        318.2     94.4       2.3          1.0         0.3        2.0
      경남        501.1     97.8       0.0          0.0         0.0        2.2
      제주         84.5     93.6       2.8          1.6         1.2        0.8
      세종         88.1     70.2       5.5         12.0         8.8        3.6
가구원수1 1인가구      951.3     94.4       1.2          0.6         1.0        2.9
      2인가구     1947.3     96.2       0.7          0.4         0.7        2.1
      3인이상가구   5395.1     91.3       3.6          1.1         1.4        2.6

In [49]:
# 컬럼 명 변경

ott_m.columns =[["2020","2020","2020","2020","2020","2020", "2021","2021","2021","2021","2021","2021"],
              ["명 수","스마트폰", "태블릿PC", "데스크톱컴퓨터", "노트북컴퓨터", "TV", "명 수","스마트폰", "태블릿PC", "데스크톱컴퓨터", "노트북컴퓨터", "TV"]]

In [50]:
ott_m.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 31 entries, ('전체', '소계') to ('가구원수1', '3인이상가구')
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   (2020, 명 수)      31 non-null     float64
 1   (2020, 스마트폰)     31 non-null     float64
 2   (2020, 태블릿PC)    31 non-null     float64
 3   (2020, 데스크톱컴퓨터)  31 non-null     float64
 4   (2020, 노트북컴퓨터)   31 non-null     float64
 5   (2020, TV)       31 non-null     float64
 6   (2021, 명 수)      31 non-null     float64
 7   (2021, 스마트폰)     31 non-null     float64
 8   (2021, 태블릿PC)    31 non-null     float64
 9   (2021, 데스크톱컴퓨터)  31 non-null     float64
 10  (2021, 노트북컴퓨터)   31 non-null     float64
 11  (2021, TV)       31 non-null     float64
dtypes: float64(12)
memory usage: 4.5+ KB

In [53]:
#  인원수로 변환 - "명 수" 를 제외한 모든 컬럼은 % 이므로 인원수로 변환 시켜 준다.

ott_2020=ott_m["2020"]

ott_2020["스마트폰"]=ott_2020["스마트폰"]/100 *ott_2020["명 수"]
ott_2020["태블릿PC"]=ott_2020["태블릿PC"]/100 *ott_2020["명 수"]
ott_2020["데스크톱컴퓨터"]=ott_2020["데스크톱컴퓨터"]/100 *ott_2020["명 수"]
ott_2020["노트북컴퓨터"]=ott_2020["노트북컴퓨터"]/100 *ott_2020["명 수"]
ott_2020["TV"]=ott_2020["TV"]/100 *ott_2020["명 수"]

ott_2020

C:\Users\user\AppData\Local\Temp\ipykernel_7740\3314260842.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["스마트폰"]=ott_2020["스마트폰"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\3314260842.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["태블릿PC"]=ott_2020["태블릿PC"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\3314260842.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["데스크톱컴퓨터"]=ott_2020["데스크톱컴퓨터"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\3314260842.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["노트북컴퓨터"]=ott_2020["노트북컴퓨터"]/100 *ott_2020["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\3314260842.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2020["TV"]=ott_2020["TV"]/100 *ott_2020["명 수"]

                  명 수      스마트폰   태블릿PC  데스크톱컴퓨터  노트북컴퓨터      TV
전체    소계       7434.0  7166.376  66.906   74.340  59.472  66.906
성별    남        3872.0  3717.120  34.848   50.336  34.848  34.848
      여        3562.0  3451.578  32.058   21.372  24.934  35.620
연령    만10대미만    173.0   148.261  15.570    0.000   4.498   4.498
      만10-19세   825.0   769.725  11.550   16.500  12.375  14.025
      만20-29세  1378.0  1307.722  26.182   16.536  26.182   1.378
      만30-39세  1420.0  1402.960   1.420   14.200   0.000   2.840
      만40-49세  1481.0  1445.456   4.443    7.405   5.924  19.253
      만50-59세  1373.0  1333.183   2.746   13.730   5.492  19.222
      만60-69세   666.0   648.018   4.662    1.998   3.330   7.326
      만70세이상    119.0   116.858   0.000    1.309   0.000   0.833
지역    서울       1482.0  1428.648  13.338   10.374  13.338  16.302
      부산        524.0   520.332   0.000    0.000   1.572   2.096
      대구        335.0   299.155  13.400    9.045   8.040   5.025
      인천        452.0   434.824   7.232    3.164   3.164   3.616
      광주        248.0   242.792   1.488    2.232   1.240   0.248
      대전        213.0   211.935   1.065    0.000   0.000   0.000
      울산        176.0   171.600   0.000    3.520   0.176   0.704
      경기       1907.0  1823.092  15.256   28.605  13.349  26.698
      강원        181.0   159.099   8.507    0.543   6.878   5.973
      충북        264.0   259.776   0.000    3.168   1.056   0.000
      충남        265.0   259.435   0.000    3.975   0.000   1.325
      전북        262.0   259.904   0.000    0.786   0.000   1.310
      전남        245.0   245.000   0.000    0.000   0.000   0.000
      경북        291.0   270.630   4.656    5.238   7.857   2.910
      경남        427.0   426.146   0.000    0.000   0.000   0.854
      제주         83.0    79.348   0.249    1.411   0.996   1.079
      세종         79.0    79.000   0.000    0.000   0.000   0.000
가구원수1 1인가구      822.0   810.492   0.000    4.932   6.576   0.000
      2인가구     1586.0  1552.694   9.516    4.758  12.688   6.344
      3인이상가구   5027.0  4805.812  55.297   60.324  40.216  60.324

In [60]:
ott_2021=ott_m["2021"]

ott_2021["스마트폰"]=ott_2021["스마트폰"]/100 *ott_2021["명 수"]
ott_2021["태블릿PC"]=ott_2021["태블릿PC"]/100 *ott_2021["명 수"]
ott_2021["데스크톱컴퓨터"]=ott_2021["데스크톱컴퓨터"]/100 *ott_2021["명 수"]
ott_2021["노트북컴퓨터"]=ott_2021["노트북컴퓨터"]/100 *ott_2021["명 수"]
ott_2021["TV"]=ott_2021["TV"]/100 *ott_2021["명 수"]

ott_2021

C:\Users\user\AppData\Local\Temp\ipykernel_7740\153087492.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["스마트폰"]=ott_2021["스마트폰"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\153087492.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["태블릿PC"]=ott_2021["태블릿PC"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\153087492.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["데스크톱컴퓨터"]=ott_2021["데스크톱컴퓨터"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\153087492.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["노트북컴퓨터"]=ott_2021["노트북컴퓨터"]/100 *ott_2021["명 수"]
C:\Users\user\AppData\Local\Temp\ipykernel_7740\153087492.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ott_2021["TV"]=ott_2021["TV"]/100 *ott_2021["명 수"]

                  명 수       스마트폰     태블릿PC  데스크톱컴퓨터   노트북컴퓨터        TV
전체    소계       8293.7  7696.5536  215.6362  66.3496  99.5244  207.3425
성별    남        4283.5  4017.9230   98.5205  47.1185  42.8350   77.1030
      여        4010.2  3681.3636  120.3060  20.0510  56.1428  132.3366
연령    만10대미만    174.5   107.3175   50.2560   0.8725   1.5705   14.6580
      만10-19세   880.1   766.5671   45.7652  23.7627  30.8035   13.2015
      만20-29세  1381.4  1243.2600   63.5444  15.1954  41.4420   19.3396
      만30-39세  1390.1  1326.1554   34.7525   1.3901   5.5604   22.2416
      만40-49세  1585.9  1479.6447   14.2731  14.2731   7.9295   71.3655
      만50-59세  1580.6  1507.8924    6.3224  12.6448   9.4836   45.8374
      만60-69세  1025.7  1001.0832    3.0771   2.0514   4.1028   15.3855
      만70세이상    275.5   268.0615    0.2755   0.8265   0.0000    6.0610
지역    서울       1626.1  1517.1513   39.0264   6.5044  14.6349   48.7830
      부산        555.7   551.2544    0.0000   1.6671   0.0000    2.2228
      대구        358.0   301.4360   27.2080   5.0120  10.3820   13.9620
      인천        499.5   456.0435   14.4855   7.4925  12.4875    8.9910
      광주        263.0   250.1130    4.2080   0.0000   0.0000    8.4160
      대전        219.8   203.3150    0.8792   0.4396   9.0118    6.1544
      울산        187.4   184.7764    0.5622   0.1874   0.0000    2.0614
      경기       2226.8  2035.2952   77.9380  31.1752  22.2680   60.1236
      강원        207.4   189.3562    3.9406   1.4518   0.6222   12.0292
      충북        279.8   242.8664   20.7052   0.0000  16.2284    0.0000
      충남        305.8   300.9072    0.9174   0.0000   0.9174    2.7522
      전북        292.8   276.6960    0.0000   0.0000   2.3424   13.7616
      전남        279.7   257.0443   12.8662   1.6782   0.0000    8.1113
      경북        318.2   300.3808    7.3186   3.1820   0.9546    6.3640
      경남        501.1   490.0758    0.0000   0.0000   0.0000   11.0242
      제주         84.5    79.0920    2.3660   1.3520   1.0140    0.6760
      세종         88.1    61.8462    4.8455  10.5720   7.7528    3.1716
가구원수1 1인가구      951.3   898.0272   11.4156   5.7078   9.5130   27.5877
      2인가구     1947.3  1873.3026   13.6311   7.7892  13.6311   40.8933
      3인이상가구   5395.1  4925.7263  194.2236  59.3461  75.5314  140.2726

In [61]:
# 데스크톱 컴퓨터와 노트북 컬럼 합치기 새로운 컬럼으로 합치기 및 기존 컬럼 지우기

ott_2020["컴퓨터"] = ott_2020["데스크톱컴퓨터"] + ott_2020["노트북컴퓨터"]
#del ott_2020["데스크톱컴퓨터"]
#del ott_2020["노트북컴퓨터"] 

ott_2021["컴퓨터"] = ott_2021["데스크톱컴퓨터"] + ott_2021["노트북컴퓨터"]
#del ott_2021["데스크톱컴퓨터"]
#del ott_2021["노트북컴퓨터"]

KeyError: '데스크톱컴퓨터'

In [ ]:
# outer join으로 2021, 2020 합치기
#ott_media_20_21=pd.merge(ott_2020,ott_2021, how = 'outer') 

# 중간 저장
#ott_media_20_21.to_csv("../project_data_raw/.csv", index = False)