In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname = "C:/Windows/Fonts/malgun.ttf").get_name()
plt.rc("font", family= font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

In [9]:
movie=pd.read_csv("data/fulldata_영화상영관.csv")
movie.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '문화체육업종명', '문화사업자구분명', '총층수', '주변환경명', '제작취급품목내용', '시설면적', '지상층수',
       '지하층수', '건물용도명', '통로너비', '조명시설조도', '노래방실수', '청소년실수', '비상계단여부', '비상구여부',
       '자동환기여부', '청소년실여부', '특수조명여부', '방음시설여부', '비디오재생기명', '조명시설유무', '음향시설여부',
       '편의시설여부', '소방시설여부', '총게임기수', '기존게임업외업종명', '제공게임물명', '공연장형태구분명', '품목명',
       '최초등록시점', '지역구분명', 'Unnamed: 59'],
      dtype='object')

In [10]:
movie=movie[["소재지전체주소","사업장명","영업상태명","상세영업상태명","폐업일자","휴업시작일자","휴업종료일자"]]
movie

,소재지전체주소,사업장명,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자
0,강원도 횡성군 횡성읍 읍하리 281-1,횡성시네마 1관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN
1,강원도 횡성군 횡성읍 읍하리 281-1,횡성시네마 2관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN
2,경상남도 창원시 마산합포구 창동 197,메가라인마산1관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN
3,경상남도 창원시 마산합포구 창동 197,메가라인마산2관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN
4,경상남도 창원시 마산합포구 창동 197,메가라인마산3관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN
...,...,...,...,...,...,...,...
4861,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN
4862,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN
4863,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN
4864,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN
4865,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN

In [5]:
sido=[]
for sd in movie.index:
    str = movie["소재지전체주소"][sd].split(" ")[0]
    sido.append(str)
#print(sido)

movie["시_도"] = sido

movie

,소재지전체주소,사업장명,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도
0,강원도 횡성군 횡성읍 읍하리 281-1,횡성시네마 1관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,강원도
1,강원도 횡성군 횡성읍 읍하리 281-1,횡성시네마 2관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,강원도
2,경상남도 창원시 마산합포구 창동 197,메가라인마산1관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,경상남도
3,경상남도 창원시 마산합포구 창동 197,메가라인마산2관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,경상남도
4,경상남도 창원시 마산합포구 창동 197,메가라인마산3관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,경상남도
...,...,...,...,...,...,...,...,...
4861,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4862,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4863,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4864,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4865,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시

In [6]:
movie["상세영업상태명"].value_counts()

# 폐업 - 페업일자가 없다 - 삭제
# 취소/말소/만료/정지/중지 -  페업일자가 없다. - 삭제

영업중      3525
폐업       1137
직권말소      110
휴업         55
등록취소       13
영업장폐쇄       8
지정취소        2
신고취소        1
허가취소        1
Name: 상세영업상태명, dtype: int64

In [302]:
#조회
#movie[(movie["상세영업상태명"] == "폐업") & (movie["폐업일자"] < 20190101)]
#movie[movie["상세영업상태명"] == "휴업"]

#movie[(movie["상세영업상태명"] == "등록취소")| (movie["상세영업상태명"] == "영업장폐쇄")|(movie["상세영업상태명"] == "지정취소")|
     #(movie["상세영업상태명"] == "신고취소")|(movie["상세영업상태명"] == "허가취소")]
    
movie[(movie["폐업일자"] >= 20190101) & (movie["상세영업상태명"] == "직권말소") | (movie["상세영업상태명"] == "폐업")]

,소재지전체주소,사업장명,좌표정보(x),영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도
3558,대구광역시 서구 내당동 30-12번지,공연기획열림,340921.317008,취소/말소/만료/정지/중지,직권말소,20190102.0,NaN,NaN,대구광역시
3559,경기도 안산시 단원구 고잔동 717-2번지 702호,프리머스시네마안산 제8관,184763.898827,취소/말소/만료/정지/중지,직권말소,20190517.0,NaN,NaN,경기도
3566,충청남도 금산군 금산읍 하옥리 334-24,금산시네마 1관,244128.674117,취소/말소/만료/정지/중지,직권말소,20220311.0,NaN,NaN,충청남도
3567,충청남도 금산군 금산읍 하옥리 334-24,금산시네마 2관,244128.674117,취소/말소/만료/정지/중지,직권말소,20220311.0,NaN,NaN,충청남도
3568,서울특별시 종로구 묘동 56 단성사 지하2층,아산엠인터내셔널 단성사 2관,199269.115471,취소/말소/만료/정지/중지,직권말소,20220411.0,NaN,NaN,서울특별시
...,...,...,...,...,...,...,...,...,...
4791,경기도 고양시 덕양구 화정동 972번지 영프라자 8층,화정시네마 2관,185111.707494,폐업,폐업,20110630.0,NaN,NaN,경기도
4792,경기도 고양시 덕양구 화정동 972번지 영프라자 8층,화정시네마 3관,185111.707494,폐업,폐업,20110630.0,NaN,NaN,경기도
4793,경기도 고양시 덕양구 화정동 972번지 영프라자 8층,화정시네마 4관,185111.707494,폐업,폐업,20110630.0,NaN,NaN,경기도
4794,경기도 고양시 덕양구 화정동 972번지 영프라자 8층,화정시네마 5관,185111.707494,폐업,폐업,20110630.0,NaN,NaN,경기도
4795,경상북도 칠곡군 석적읍 포남리 608,호이영화관 2관,326919.179811,폐업,폐업,20200713.0,NaN,NaN,경상북도

In [7]:
# 1) 2019년도 전에 폐업 삭제 
test1 = movie[(movie["상세영업상태명"] == "폐업") & (movie["폐업일자"] < 20190101)].index
movie.drop(test1, inplace=True)
movie

,소재지전체주소,사업장명,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도
0,강원도 횡성군 횡성읍 읍하리 281-1,횡성시네마 1관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,강원도
1,강원도 횡성군 횡성읍 읍하리 281-1,횡성시네마 2관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,강원도
2,경상남도 창원시 마산합포구 창동 197,메가라인마산1관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,경상남도
3,경상남도 창원시 마산합포구 창동 197,메가라인마산2관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,경상남도
4,경상남도 창원시 마산합포구 창동 197,메가라인마산3관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,경상남도
...,...,...,...,...,...,...,...,...
4861,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4862,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4863,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4864,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4865,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시

In [8]:
# 2) 2019년도 전에 직권말소 삭제 
test2 = movie[(movie["상세영업상태명"] == "직권말소") & (movie["폐업일자"] < 20190101)].index
movie.drop(test2, inplace=True)
movie

,소재지전체주소,사업장명,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도
0,강원도 횡성군 횡성읍 읍하리 281-1,횡성시네마 1관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,강원도
1,강원도 횡성군 횡성읍 읍하리 281-1,횡성시네마 2관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,강원도
2,경상남도 창원시 마산합포구 창동 197,메가라인마산1관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,경상남도
3,경상남도 창원시 마산합포구 창동 197,메가라인마산2관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,경상남도
4,경상남도 창원시 마산합포구 창동 197,메가라인마산3관,취소/말소/만료/정지/중지,등록취소,NaN,NaN,NaN,경상남도
...,...,...,...,...,...,...,...,...
4861,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4862,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4863,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4864,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4865,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시

In [9]:
# 3) 취소 및 폐쇄
test3 = movie[(movie["상세영업상태명"] == "등록취소")| (movie["상세영업상태명"] == "영업장폐쇄")|(movie["상세영업상태명"] == "지정취소")|
     (movie["상세영업상태명"] == "신고취소")|(movie["상세영업상태명"] == "허가취소")].index
movie.drop(test3, inplace=True)
movie

,소재지전체주소,사업장명,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도
22,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 1관,영업/정상,영업중,NaN,NaN,NaN,광주광역시
23,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 2관,영업/정상,영업중,NaN,NaN,NaN,광주광역시
24,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 4관,영업/정상,영업중,NaN,NaN,NaN,광주광역시
25,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 9관,영업/정상,영업중,NaN,NaN,NaN,광주광역시
26,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 3관(IMAX),영업/정상,영업중,NaN,NaN,NaN,광주광역시
...,...,...,...,...,...,...,...,...
4861,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4862,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4863,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4864,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4865,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시

In [10]:
# 4) 휴업상태
test4 = movie[movie["상세영업상태명"] == "휴업"].index
movie.drop(test4, inplace=True)
movie

,소재지전체주소,사업장명,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도
22,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 1관,영업/정상,영업중,NaN,NaN,NaN,광주광역시
23,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 2관,영업/정상,영업중,NaN,NaN,NaN,광주광역시
24,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 4관,영업/정상,영업중,NaN,NaN,NaN,광주광역시
25,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 9관,영업/정상,영업중,NaN,NaN,NaN,광주광역시
26,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 3관(IMAX),영업/정상,영업중,NaN,NaN,NaN,광주광역시
...,...,...,...,...,...,...,...,...
4861,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4862,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4863,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4864,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시
4865,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시

In [309]:
# 5) 지정된 열을 기준으로 중복되는 행 제거

#movie.drop_duplicates(["좌표정보(x)"], inplace=True)
movie

,소재지전체주소,사업장명,좌표정보(x),영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도
22,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 1관,189004.968213,영업/정상,영업중,NaN,NaN,NaN,광주광역시
27,광주광역시 서구 치평동 1218-1,CGV광주상무 제1관,186350.816423,영업/정상,영업중,NaN,NaN,NaN,광주광역시
28,광주광역시 동구 충장로5가 62-9번지,광주극장,191934.255105,영업/정상,영업중,NaN,NaN,NaN,광주광역시
29,광주광역시 동구 동명동 243번지,계림극장,NaN,영업/정상,영업중,NaN,NaN,NaN,광주광역시
30,광주광역시 동구 대인동 7-1,샤롯데관,191913.038278,영업/정상,영업중,NaN,NaN,NaN,광주광역시
...,...,...,...,...,...,...,...,...,...
4697,경기도 남양주시 와부읍 월문리 109-4번지,파랑새자동차극장 1관,224127.337085,폐업,폐업,20200109.0,NaN,NaN,경기도
4705,경기도 김포시 풍무동 38-1 홈플러스 지하 2층,CGV김포풍무 제2관,175533.126929,폐업,폐업,20210907.0,NaN,NaN,경기도
4713,충청북도 청주시 상당구 북문로1가 90-1,롯데시네마 청주제5관,243706.729688,폐업,폐업,20201005.0,NaN,NaN,충청북도
4718,충청북도 청주시 흥덕구 가경동 1416-2번지,메가폴리스시네마 제1관(2층),238567.758444,폐업,폐업,NaN,NaN,NaN,충청북도
4733,충청북도 충주시 성서동 273번지,"메가박스(1,2,3,5관)",282995.235494,폐업,폐업,20200219.0,NaN,NaN,충청북도

In [321]:
movie.to_excel("data/movietheater.xlsx")

In [15]:
movie = pd.read_excel("data/movietheater.xlsx", index_col=0)
movie.reset_index(drop=True, inplace=True)
movie["시_도"].value_counts()

경기도        987
서울특별시      708
부산광역시      239
인천광역시      218
경상남도       218
경상북도       167
대구광역시      166
전라북도       162
충청남도       154
강원도        144
충청북도       142
전라남도       136
광주광역시      135
대전광역시      112
울산광역시       60
제주특별자치도     53
세종특별자치시     26
Name: 시_도, dtype: int64

In [16]:
sido=[]
for ch in movie.index:
    if movie["시_도"][ch][-1] == "도":
        if len(movie["시_도"][ch]) == 4:
            sido.append(movie["시_도"][ch][0] + movie["시_도"][ch][2])
        else:
            sido.append(movie["시_도"][ch][0:2])
            
    elif movie["시_도"][ch][-1] == "시":
        sido.append(movie["시_도"][ch][0:2])
        
sido

movie["new_sido"] =sido

In [17]:
cnt=[]
for i in movie.index:
    count=1
    cnt.append(count)
    
cnt
movie["count_screen"] = cnt
movie

,소재지전체주소,사업장명,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도,new_sido,count_screen
0,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 1관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
1,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 2관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
2,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 4관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
3,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 9관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
4,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 3관(IMAX),영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
...,...,...,...,...,...,...,...,...,...,...
3822,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3823,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3824,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3825,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3826,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1

In [18]:
screen_19 = movie[["new_sido","count_screen","사업장명","영업상태명"]]
screen_19 = screen_19.groupby(by="new_sido").sum()

In [19]:
# 2019 - 폐업
movie[(movie["폐업일자"] >= 20190101) & (movie["폐업일자"] <= 20191230)]

t = movie[(movie["폐업일자"] >= 20190101) & (movie["폐업일자"] <= 20191230)].index
movie.drop(t, inplace=True)
movie

,소재지전체주소,사업장명,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도,new_sido,count_screen
0,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 1관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
1,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 2관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
2,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 4관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
3,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 9관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
4,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 3관(IMAX),영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
...,...,...,...,...,...,...,...,...,...,...
3822,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3823,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3824,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3825,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3826,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1

In [20]:
screen_20 = movie[["new_sido","count_screen","사업장명","영업상태명"]]
screen_20 = screen_20.groupby(by="new_sido").sum()

In [21]:
# 2020 - 폐업
movie[(movie["폐업일자"] >= 20200101) & (movie["폐업일자"] <= 20201230)]

t1 = movie[(movie["폐업일자"] >= 20200101) & (movie["폐업일자"] <= 20201230)].index
movie.drop(t1, inplace=True)
movie

,소재지전체주소,사업장명,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도,new_sido,count_screen
0,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 1관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
1,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 2관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
2,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 4관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
3,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 9관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
4,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 3관(IMAX),영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
...,...,...,...,...,...,...,...,...,...,...
3822,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3823,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3824,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3825,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3826,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1

In [22]:
screen_21 = movie[["new_sido","count_screen","사업장명","영업상태명"]]
screen_21 = screen_21.groupby(by="new_sido").sum()

In [23]:
# 2021 - 폐업
movie[(movie["폐업일자"] >= 20210101) & (movie["폐업일자"] <= 20211230)]

t2 = movie[(movie["폐업일자"] >= 20210101) & (movie["폐업일자"] <= 20211230)].index
movie.drop(t2, inplace=True)
movie

,소재지전체주소,사업장명,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,시_도,new_sido,count_screen
0,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 1관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
1,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 2관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
2,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 4관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
3,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 9관,영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
4,광주광역시 서구 광천동 49-1 유스퀘어(광천터미널),CGV 광주터미널 3관(IMAX),영업/정상,영업중,NaN,NaN,NaN,광주광역시,광주,1
...,...,...,...,...,...,...,...,...,...,...
3822,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3823,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3824,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3825,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1
3826,서울특별시 강남구 삼성동 159-0번지,메가박스씨네플렉스(주),영업/정상,NaN,NaN,NaN,NaN,서울특별시,서울,1

In [24]:
screen_22 = movie[["new_sido","count_screen","사업장명","영업상태명"]]
screen_22 = screen_22.groupby(by="new_sido").sum()

In [35]:
screen_cnt =pd.concat([screen_19, screen_20, screen_21], axis = 1)

screen_cnt.columns = [["2019스크린수","2020스크린수","2021스크린수"]]

screen_cnt

         2019스크린수 2020스크린수 2021스크린수
new_sido
강원            144      144      142
경기            987      962      958
경남            218      218      217
경북            167      166      160
광주            135      135      135
대구            166      165      164
대전            112      112      112
부산            239      239      238
서울            708      705      703
세종             26       26       26
울산             60       60       60
인천            218      209      188
전남            136      136      124
전북            162      162      150
제주             53       51       41
충남            154      152      147
충북            142      142      131

In [36]:
screen_cnt.to_excel("data/screen_cnt_region.xlsx")

In [43]:
region_theater=pd.read_excel("data/영화관_지역별_종합.xlsx", header = 4, 
                             usecols = "A,B,C,D")

region_theater.columns=["지역", "상영관수","스크린수","좌석수"]

region_theater

      지역  상영관수   스크린수      좌석수
0    서울시    97    602   97,951
1    경기도   148    880  121,814
2    강원도    28    129   15,625
3   충청북도    22    127   17,174
4   충청남도    31    149   18,738
5   경상북도    33    149   17,929
6   경상남도    38    192   25,383
7   전라북도    30    141   19,490
8   전라남도    23    102   14,342
9    제주도     7     34    3,634
10   부산시    34    233   38,444
11   대구시    24    151   22,305
12   대전시    17    108   17,943
13   울산시     9     59   10,195
14   인천시    27    165   24,986
15   광주시    19    135   20,233
16   세종시     5     24    3,329
17    합계   592  3,380  489,515

In [47]:
sido=[]
for i in region_theater.index:
    if len(region_theater["지역"][i]) == 4:
        sido.append(region_theater["지역"][i][0] + region_theater["지역"][i][2])
    else:
        sido.append(region_theater["지역"][i][0:2])
sido

region_theater["지역"] = sido
region=region_theater.set_index("지역")

In [50]:
region.drop("합계", axis = 0, inplace = True)
region

    상영관수 스크린수      좌석수
지역
서울    97  602   97,951
경기   148  880  121,814
강원    28  129   15,625
충북    22  127   17,174
충남    31  149   18,738
경북    33  149   17,929
경남    38  192   25,383
전북    30  141   19,490
전남    23  102   14,342
제주     7   34    3,634
부산    34  233   38,444
대구    24  151   22,305
대전    17  108   17,943
울산     9   59   10,195
인천    27  165   24,986
광주    19  135   20,233
세종     5   24    3,329

In [55]:
region_ott_ex=pd.read_excel("data/region_ott_ex.xlsx", header =[0,1],
                           index_col=0)
yo=region_ott_ex["2021","이용경험있음"]
no=region_ott_ex["2021","이용경험없음"]

In [64]:
region["이용경험있음"] = yo
region["이용경험없음"] = no

region

    상영관수 스크린수      좌석수  이용경험있음  이용경험없음
지역
서울    97  602   97,951    86.9    13.1
경기   148  880  121,814    83.0    17.0
강원    28  129   15,625    69.0    31.0
충북    22  127   17,174    85.6    14.4
충남    31  149   18,738    80.2    19.8
경북    33  149   17,929    62.1    37.9
경남    38  192   25,383    76.1    23.9
전북    30  141   19,490    82.6    17.4
전남    23  102   14,342    80.1    19.9
제주     7   34    3,634    64.7    35.3
부산    34  233   38,444    84.6    15.4
대구    24  151   22,305    74.1    25.9
대전    17  108   17,943    89.4    10.6
울산     9   59   10,195    84.4    15.6
인천    27  165   24,986    85.0    15.0
광주    19  135   20,233    88.8    11.2
세종     5   24    3,329    92.8     7.2

In [63]:
region.to_csv("data/region_test.csv")

TypeError: to_csv() got an unexpected keyword argument 'thousands'

In [66]:
pd.read_csv("data/region_test.csv", thousands=',')

    지역  상영관수  스크린수     좌석수  이용경험있음  이용경험없음
0   서울    97   602   97951    86.9    13.1
1   경기   148   880  121814    83.0    17.0
2   강원    28   129   15625    69.0    31.0
3   충북    22   127   17174    85.6    14.4
4   충남    31   149   18738    80.2    19.8
5   경북    33   149   17929    62.1    37.9
6   경남    38   192   25383    76.1    23.9
7   전북    30   141   19490    82.6    17.4
8   전남    23   102   14342    80.1    19.9
9   제주     7    34    3634    64.7    35.3
10  부산    34   233   38444    84.6    15.4
11  대구    24   151   22305    74.1    25.9
12  대전    17   108   17943    89.4    10.6
13  울산     9    59   10195    84.4    15.6
14  인천    27   165   24986    85.0    15.0
15  광주    19   135   20233    88.8    11.2
16  세종     5    24    3329    92.8     7.2